.storyButton {
	margin-bottom: 25px;
}

.roboto, .lora {
	text-align: center;
}

.roboto {
	font-size: 30px;
}

.vintage {
	margin: 0 auto;
	width: 500px;
	height: 400px;
	background-image: url("../assets/images/vintage.jpg");
	background-position: center;
	border-radius: 10px;
}