body {
	background-color: darkgray;
	background-size: cover;
	background-repeat: no-repeat;
}

.background {
	width: 1000px;
	max-width: 80%;
	height: 700px;
	max-height: 80%;
	background-color: rgba(0, 0, 0, 0.8);
	background-size: cover;
	background-repeat: no-repeat;
	margin:0 auto;
	margin-top:40px;
}

h1 {
	color:white;
	font-size: 35px;
	text-align: center;
}

/*----------video styling------*/

#landing_video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("images/Bicycle-Lane.jpg") no-repeat;
    background-size: cover; 
}