body {

}

.background {
	width: 1000px;
	max-width: 80%;
	height: 700px;
	max-height: 80%;
	background-color: rgba(0, 0, 0, 0.8);
	background-size: cover;
	background-repeat: no-repeat;
	margin:0 auto;
	margin-top:40px;
}

h1 {
	color:white;
	font-size: 35px;
	text-align: center;
}
